.main{
  background-color: var(--purple-dark);

  padding: 40px 10%;
  margin-top: -10px;

  h2{
    text-align: center;

    font-size: 2.5rem;
    color: var(--font-filter);
  }

  p{
    margin: 10px 0px;

    color: var(--font-filter);
  }
}